<header>
  <div ng-include="'partials/navBar.html'"></div>
</header>

<h1>My Expenses</h1>

<!-- *********************** START OF EXPENSE FILTERS *********************** -->
<div class="filter-div">
  <img src="images/filter.png" class="filter-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <label class="filter-label filter-btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filters</label>
</div>

<div class="form-div collapse" id="collapseExample">
  <form>
    <div class="form-group">
      <div class="col-sm-10">
        <label>From:</label>
        <input name="date" ng-model="expense.date1" type="date" class="form-control" placeholder="From..." pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <label>To:</label>
        <input name="date" ng-model="expense.date2" type="date" class="form-control" placeholder="To..." pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
      </div>
    </div>

    <div class="col-sm-10">
      <div class="form-group">
        <label>Select a category</label>
        <select name="category_id" ng-model="expense.category_id" class="form-control" id="exampleFormControlSelect1" >
          <option value="4">Car Maintenance</option>
          <option value="15">Clothing</option>
          <option value="7">Education</option>
          <option value="6">Entertainment</option>
          <option value="11">Fuel</option>
          <option value="3">Groceries</option>
          <option value="10">Gym Membership</option>
          <option value="1">Home</option>
          <option value="8">Insurance</option>
          <option value="14">Networking</option>
          <option value="13">Office Supplies</option>
          <option value="9">Phone</option>
          <option value="5">Restaurants</option>
          <option value="12">Travel</option>
          <option value="2">Utilities</option>
          <option value="16">Other</option>
        </select>
      </div>
    </div>

    <div class="check-div">
      <div class="check-box form-group form-check">
        <input ng-model="expense.writeoff" type="checkbox" class="form-check-input" value="false" name="writeoff">
        <label class="form-check-label">Tax Write-Off</label>
      </div>

      <div class="check-box form-group form-check">
        <input ng-model="expense.business" type="checkbox" class="form-check-input" value="false" name="business">
        <label class="form-check-label">Business Expense</label>
      </div>
    </div>

    <button ng-click="searchForExpenses()" class="receiptBtn">Search</button>
  </form>
</div>
</div>
<!-- *********************** END OF EXPENSE FILTERS *********************** -->

<div ng-init="loadAllExpenses()" class="container">
  <div class="row">
    <div class="card-border" ng-repeat="expense in expenses">
      <div class="card-container">
        <div class="card-deets">
          <h3 class="card-merchant">{{expense.merchant}}</h3>
          <p class="card-notes">{{expense.notes}}</p>
          <h5 class="card-date">{{expense.date}}</h5>
          <label>Total</label>
          <h5 class="card-total">${{expense.total}}</h5>
        </div>

        <div class="img-holder">
          <img class="card-image" ng-src="images/login-stub.jpg" alt="picture of receipt">
          <!-- <img class="card-image" ng-src={{expense.receipt}} alt="picture of receipt"> -->
        </div>
      </div>

      <div class="card-buttons">
        <button ng-click="expensesDeleter(expense.id); loadAllExpenses()" class="btn btn-outline-danger">X</button>
        <button ng-click="go('/update-expense') ; expenseEdit(expense.id)" class="btn btn-outline-info">Edit</button>
        
          <!-- Modals -->
        <!-- <div ng-include="'partials/delete-modal.html'"></div> -->
        <!-- <div ng-include="'partials/update-modal.html'"></div> -->

        

  </div>
</div>




