<nav class="navStyle navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="#/welcome">Stubtrax</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" ng-show="isLoggedIn()" href="#!/expense">New Expense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-show="isLoggedIn()" href="#!/expense-search">My Expenses</a>
      </li>
      <li ng-show="!isLoggedIn()" class="nav-item">
          <a class="nav-link" href="#!/login">Login</a>
        </li>
        <li ng-show="isLoggedIn()" class="nav-item">
            <a ng-click="logout()" class="nav-link" href="#!/login">Logout</a>
        </li>

      </ul>
  </div>
</nav>

