body {
  background: #ffffff;
  border-radius: 10px; }

h1 {
  padding: 10px 5px 5px 5px;
  display: flex;
  justify-content: center;
  text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.85); }

form {
  min-width: 85%;
  min-width: 90%; }

.form-div {
  display: flex;
  justify-content: center; }

.navbar {
  margin-bottom: 10px;
  background: #DA4531;
  border-bottom: 4px ridge black;
  padding: 0px 5px 0px 15px; }

.navbar-light .navbar-brand {
  color: #000000;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em; }

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px; }

.navbar-light .navbar-toggler {
  color: black;
  background: #FEB15F;
  border: .5px solid black;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.603);
  margin-right: .5em; }

.navbar-toggler:focus {
  color: #FEB15F;
  border-color: #FEB15F; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #FEB15F;
  border: 1px solid #FEB15F; }

.filter-div {
  margin-left: 2em; }

.filter-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px; }

.filter-btn {
  height: 30px;
  background: white; }

.expense-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px; }

.card {
  margin: 10px;
  border: 4px ridge gray;
  box-shadow: 1px 7px 8px -4px #1a1a1a;
  border-radius: 8px; }

.card-img-top {
  max-height: 20em;
  max-width: 10em; }

form {
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  border: 4px ridge gray;
  border-radius: 7px;
  box-shadow: 1px 7px 8px -4px #1a1a1a;
  padding: 10px;
  color: black; }

.big-thumb {
  max-width: 10em;
  max-height: 12em;
  float: none;
  position: relative; }

.thumb {
  width: 40px;
  height: 80px;
  float: none;
  position: relative;
  top: 7px; }

.receiptBtn {
  background-color: #DA4531;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0.9em;
  border: 0.16em solid #d6c4c4;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.85);
  text-align: center;
  transition: all 0.2s; }
  .receiptBtn:hover {
    background-color: #e45643;
    border: 0.16em solid #FEB15F; }

.check-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.check-box {
  margin: 10px;
  padding-left: -5px;
  width: 45%;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-left: 0px;
  border-color: black;
  border-style: outset; }

.form-check-label {
  margin-bottom: 0;
  padding-left: 5px; }

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -.85rem; }

.delete-div {
  height: .5em;
  display: flex; }

.btn-outline-danger {
  color: #DA4531;
  background-color: transparent;
  border-color: #DA4531; }

.btn-outline-danger:hover {
  color: #fff;
  background-color: #DA4531;
  border-color: #DA4531; }
