@mixin box-shadow($x, $y, $offset, $blur) {
  -webkit-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  -moz-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
}

@mixin text-shadow($ems) {
  text-shadow: 0 $ems $ems rgba(0, 0, 0, 0.85);
}

body{
  background: rgb(65, 65, 65);
  border-radius: 10px;
  color: rgb(231, 231, 21);

}

.navStyle{
  margin-bottom: 10px;
}

// */*/*/*/*/* Expense search */*/*/*/*/*
.movie-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.expenseCard{
  flex-basis: 30%;
  text-align: left;
  margin: 10px 0;
  padding-bottom: 12px;
  position: relative;
  border: 1px solid black;
}

// */*/*/*/*/* Receipt Image Page */*/*/*/*/*

.thumb {
  width: 40px;
  height: 80px;
  float: none;
  position: relative;
  top: 7px;
}

.receiptSender {
  background-color: #05887d;
  cursor: pointer;
  display:inline-block;
  padding: 0.5em 0.9em;
  border:0.16em solid rgb(158, 158, 158);
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',
  sans-serif;
  font-weight:300;
  color:#FFFFFF;
  @include text-shadow(0.04em);
  text-align:center;
  transition: all 0.2s;

  &:hover {
    background-color: #05887d;    
    border:0.16em solid rgb(255, 255, 255);  
  }
}