// darkGreen: #1B5F5E
// light green: #B2D0C6
// yellow: #FEB15F
// red: #DA4531

@mixin box-shadow($x, $y, $offset, $blur) {
  -webkit-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  -moz-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
}

@mixin text-shadow($ems) {
  text-shadow: 0 $ems $ems rgba(0, 0, 0, 0.85);
}

body{
  background: #eeeeee;
  border-radius: 10px;
}

header{
  margin-bottom: 80px;
}

.welcome-container{
  background-color: #cccccc;
  width: 100%;
  height: 650px;
}
.welcomer{
  display: flex;
  justify-content: center;
}
.welcome{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  color: black;
}

form{
  min-width: 85%;
  min-width: 90%;
}

.form-div{
  display: flex;
  justify-content: center;
}

.navbar{
  margin-bottom: 10px;
  background: #DA4531;
  border-bottom: 4px ridge black;
  padding: 0px 5px 0px 15px;
}

.navbar-light .navbar-brand {
  color: #000000;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  padding:5px;
}

.navbar-light .navbar-toggler {
  color: black;
  background: #FEB15F;
  border: .5px solid black;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.603);
  margin-right: .5em;
}

.navbar-toggler:focus {
  color: #FEB15F;
  border-color: #FEB15F;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FEB15F;
  border: 1px solid #FEB15F;
}
// */*/*/*/*/* Expense search */*/*/*/*/*
.filter-div{
  margin-left:2em;
}
.filter-label{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
.filter-btn{
height: 30px;
background: #eeeeee;
}
.expense-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.card-border{
  background: white;
  border: 4px ridge rgb(128, 128, 128);
  margin: 10px;
  box-shadow: 1px 7px 8px -4px rgb(26, 26, 26);
  border-radius: 8px;
  min-width: 350px;
  max-width: 350px;
}
.card-container{
  font-family: 'Josefin Sans', sans-serif;    
  padding: 0px;
  margin: 10px;
  margin-bottom: 2px;
  border-bottom: .5px solid rgb(165, 164, 164);  
  max-height: 200px;
  min-height: 200px;
  min-width: 320px;
  max-width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.card-buttons{
  margin: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  max-width: 300px;
  
}

.card-merchant{
  border-bottom: 1px solid rgb(143, 142, 142);  
}

.row{
  display: flex;
  justify-content: space-between;
}

.card-deets{
  font-family: 'Josefin Sans', sans-serif;   
  margin-top:10px;
  margin-left: -25px;
  width: 190px;
}

.card-image{
  max-height: 180px;
  max-width: 90px;
  margin-right: -25px;
}

form{
  font-family: 'Josefin Sans', sans-serif;  
  background: white;
  border: 4px ridge rgb(128, 128, 128);
  border-radius: 7px;
  box-shadow: 1px 7px 8px -4px rgb(26, 26, 26);
  padding: 10px;
  color: black;
}

// */*/*/*/*/* Receipt Image Page */*/*/*/*/*

.big-thumb {
  max-width: 10em;
  max-height: 12em;
  float: none;
  position: relative;
}

.thumb {
  width: 40px;
  height: 80px;
  float: none;
  position: relative;
  top: 7px;
}


// */*/*/*/*/* Receipt Search Page */*/*/*/*/*
.check-div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.check-box{
  margin: 10px;
  padding-left: -5px;
  width: 45%;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-left: 0px;
  border-color: black;
  border-style: outset;
  
}
.form-check-label {
  margin-bottom: 0;
  padding-left: 5px;
}
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -.85rem;
}

// BUTTONS

.receiptBtn {
  background-color: #DA4531;
  cursor: pointer;
  display:inline-block;
  padding: 0.5em 0.9em;
  border:0.16em solid rgb(214, 196, 196);
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:300;
  color:#FFFFFF;
  @include text-shadow(0.04em);
  text-align:center;
  transition: all 0.2s;

  &:hover {
    background-color: rgb(228, 86, 67);    
    border:0.16em solid #FEB15F;  
  }
}

.delete-div{
  height: .5em;
display: flex;
}

.btn-outline-danger {
  color: #DA4531;
  background-color: transparent;
  border-color: #DA4531;
  margin-left: 5px;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #DA4531;
  border-color: #DA4531;
}

.btn-outline-info {
  color: rgba(88, 107, 100, 0.897);
  background-color: transparent;
  border-color: #B2D0C6;
  margin-right: -15px;
}